.div_servicios{
    width:100%;
    text-align: center;
    height: 189px;
    margin: 72px 0 0;
    padding: 24px 0 0;
    background-color: #eef3f5;
  }
  
  .texto_servicio{
      font-family: Roboto;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #595959;
  }
  .button {
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      width: 200px;
      height: 40px;
  }
  
  .button1 {
      color: #2197ae; 
      border-radius: 20px;
      border: solid 1.5px #2197ae; 
      background-color:  #eef3f5;
  }
  