.footerClaro {
    bottom: 0px;
    text-align: center;
    color: white;
    height: 52px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    padding: 10.1px 0px 5.3px 0px;
    z-index: 10;

    @media screen and (max-width: 600px) {
        height: 42px;
        padding: 0px;
    }

    .claro_logo {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='16' fill='none' viewBox='0 0 44 16'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M36.946 7.397l4.944-4.942-1.3-1.298-4.943 4.94 1.3 1.3zM31.65 5.428h1.831V.131h-1.83v5.297zM37.853 11.276h5.415v-1.83h-5.415v1.83zM35.351 8.343c-.847-.846-1.87-1.26-3.032-1.26s-2.167.414-2.992 1.26c-.849.847-1.26 1.87-1.26 3.05 0 1.183.411 2.205 1.26 3.033.825.847 1.83 1.28 2.992 1.28s2.185-.433 3.032-1.28c.827-.828 1.24-1.85 1.24-3.032s-.413-2.204-1.24-3.05zm-1.438 4.646c-.432.454-.964.669-1.594.669-.61 0-1.142-.214-1.574-.669-.434-.453-.671-.985-.671-1.595 0-.649.237-1.182.67-1.614.433-.452.965-.67 1.575-.65.63-.02 1.162.198 1.613.65.415.432.631.965.652 1.614-.02.61-.237 1.142-.67 1.595zM5.364 4.976c-1.475-.02-2.698.493-3.72 1.555C.6 7.575.088 8.814.088 10.291c0 1.457.511 2.739 1.554 3.781 1.023 1.023 2.246 1.536 3.721 1.536 1.182 0 2.266-.355 3.21-1.085.925-.747 1.536-1.672 1.85-2.814H8.28c-.276.552-.67 1.003-1.162 1.358-.551.336-1.122.513-1.753.513-.905 0-1.672-.335-2.304-.966-.648-.65-.963-1.415-.944-2.322-.02-.905.296-1.674.944-2.323.632-.63 1.4-.965 2.304-.965.63 0 1.202.177 1.753.532.493.335.886.807 1.162 1.358h2.145C10.11 7.753 9.5 6.807 8.574 6.08c-.944-.75-2.028-1.123-3.21-1.104zM18.36 7.063c-1.379-.02-2.344.355-2.895 1.083-.353.452-.53 1.044-.59 1.792h2.048c.038-.354.158-.59.295-.748.216-.277.57-.415 1.083-.395.433-.02.768.059 1.003.197.236.119.335.356.355.69 0 .274-.158.493-.473.63l-1.576.255c-.727.1-1.317.275-1.771.533-.768.452-1.14 1.18-1.121 2.226-.02.725.216 1.317.688 1.75.413.356.984.551 1.675.572 1.121-.02 2.006-.297 2.637-.848v.848h2.049V9.622c0-.984-.357-1.672-1.025-2.027-.71-.374-1.496-.553-2.382-.532zm.866 4.626l.393-.214v.826c0 .707-.197 1.2-.57 1.475-.394.275-.808.414-1.28.414-.295 0-.532-.08-.729-.236-.195-.178-.296-.433-.296-.807 0-.413.16-.71.493-.926.198-.118.531-.217.965-.276l1.024-.256zM11.468 15.647h2.048V4.977h-2.048v10.67zM26.55 7.359c-.55.216-1.042.59-1.458 1.16V7.476l-1.948-.018v8.19h2.028V11.73c0-.67.08-1.142.257-1.438.136-.314.392-.57.708-.787.354-.237.728-.355 1.123-.355l.629.04-.019-2.089-.531.04-.79.218z' clip-rule='evenodd'/%3E%3C/svg%3E%0A") no-repeat;
        width: 43px;
        height: 16px;
        display: inline-block;

        @media screen and (max-width: 600px) {
            width: 37px;
            height: 14px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='14' fill='none' viewBox='0 0 37 14'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M31.67 6.174l4.127-4.125L34.712.966l-4.125 4.123 1.084 1.085zM27.251 4.53h1.528V.11h-1.528v4.42zM32.428 9.412h4.52V7.884h-4.52v1.528zM30.34 6.963c-.707-.706-1.562-1.052-2.531-1.052-.97 0-1.809.346-2.498 1.052-.708.708-1.052 1.56-1.052 2.547 0 .986.344 1.84 1.052 2.53.69.708 1.528 1.068 2.498 1.068.97 0 1.824-.36 2.53-1.068.69-.69 1.036-1.544 1.036-2.53 0-.986-.345-1.84-1.036-2.547zm-1.2 3.878c-.362.38-.805.558-1.331.558-.51 0-.953-.179-1.314-.558-.363-.378-.56-.822-.56-1.331 0-.542.198-.986.56-1.347.36-.378.805-.559 1.314-.542.526-.017.97.164 1.346.542.346.36.527.805.544 1.347-.017.51-.198.953-.56 1.331zM5.312 4.153c-1.232-.016-2.252.411-3.106 1.298C1.336 6.322.909 7.357.909 8.59c0 1.215.426 2.285 1.297 3.155.854.854 1.874 1.282 3.106 1.282.986 0 1.89-.296 2.678-.905.773-.624 1.282-1.396 1.545-2.349h-1.79c-.23.46-.56.837-.97 1.133-.46.28-.937.428-1.463.428-.756 0-1.396-.28-1.923-.806-.541-.542-.805-1.181-.788-1.938-.017-.755.247-1.397.788-1.938.527-.526 1.167-.806 1.923-.806.526 0 1.002.147 1.463.444.41.28.74.673.97 1.133h1.79c-.263-.952-.772-1.742-1.545-2.349-.788-.625-1.692-.937-2.678-.92zM16.158 5.895c-1.15-.017-1.956.296-2.416.904-.295.377-.443.872-.493 1.496h1.71c.032-.296.132-.493.246-.624.18-.232.476-.347.904-.33.361-.017.64.049.837.164.197.099.28.297.296.576 0 .229-.132.411-.394.526l-1.315.212c-.608.084-1.1.23-1.48.445-.64.378-.951.985-.935 1.858-.016.606.18 1.1.574 1.461.345.297.822.46 1.399.477.935-.017 1.674-.247 2.2-.707v.707h1.71V8.031c0-.822-.297-1.396-.855-1.692-.592-.312-1.249-.461-1.988-.444zm.723 3.86l.328-.178v.69c0 .59-.165 1-.476 1.23-.329.23-.674.346-1.069.346-.246 0-.443-.066-.608-.196-.163-.15-.246-.362-.246-.674 0-.345.133-.592.41-.773.166-.098.444-.18.806-.23l.855-.214zM10.406 13.06h1.71V4.154h-1.71v8.906zM22.993 6.142c-.459.18-.87.493-1.216.968v-.87l-1.627-.016v6.836h1.693V9.79c0-.56.066-.953.215-1.2.114-.262.327-.476.591-.657.295-.197.607-.296.937-.296l.525.034-.016-1.744-.443.034-.66.18z' clip-rule='evenodd'/%3E%3C/svg%3E%0A") no-repeat;
            margin-bottom: -4px;
        }
    }

    .letters {
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #e0e0e0;
        font-family: Roboto, "Roboto", sans-serif !important;

        @media screen and (max-width: 600px) {
            font-size: 10px;
        }
    }

    .containerClaro {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .footer-container-claro {
            font-size: 10px;
            padding: 5px;

            .centering {
                text-align: center !important;

                img {
                    width: 40px;
                    vertical-align: top !important;
                }

                .letters {
                    @media screen and (max-width: 600px) {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}