.eventos-box {
    display: inline-block;
    height: max-content;
    width: 100%;
    margin-bottom: 24px;
    border-bottom: 1px solid #d5d9df;
    padding-bottom: 20px;
    margin-top: 20px;

    .paso {
        font-size: 12px;
        font-weight: bold;
        color: #abafb0;
        margin: 0 0 4px 0;
    }

    .titulo {
        font-size: 17px;
        color: #595959 !important; 
        margin: 0 0 20px 0;
    }

    .prod-card-eventos {
        width: 278px;
        height: 220px;
        border-radius: 8px;
        border: solid 1px rgba(33, 33, 33, 0.03);
        box-shadow: 0 0 4px 0 #d2d9e1;
        background-color: #ffffff;
        float: left;
        margin: 0 16px 16px 0;
        position: relative;

        .imagen-eventos {
            cursor: pointer;
            height: 164px;
            border-radius: 8px 8px 0 0;
            width: 100%;

            img { 
                height: 163px;
                border-radius: 6px 6px 0 0;
            }
        }

        .nombre-consideracion-box {
            height: 52px;
            color: #2197ae !important;
            font-weight: bold;
            width: 100%;
            line-height: 30px;
            font-size: 16px;
            border-radius: 0 0 8px 8px;

            .precio {
                float: left;
                padding-left: 5%;
                margin-top: 8px;

                .titulo {
                    color: #222222 !important;
                    line-height: 19px;              
                    font-size: 16px;
                    margin-bottom: 0px;
                }

                .subtitu {
                    font-size: 12px;
                    color: #C1C1C1;
                    margin-bottom: 0px;
                    line-height: 19px;  
                }
            }

            .conside {
                cursor: pointer;
                float: right;
                padding-right: 5%;
                color: #2197ae !important;
                font-size: 14px !important;
                margin-top: 12px;
            }
        }

        @media screen and (max-width: 600px) {
            width: 156px;
            height: 120px;
            margin: 0 6px 16px 0;

            .imagen-eventos {
                height: 80px;

                img {
                    height: 80px;
                    width: 100%;
                }
            }

            .nombre-consideracion-box {
                height: 36px;

                .precio {
                    margin-top: 4px;

                    .titulo {
                        line-height: 14px;
                        font-size: 10px;
                    }

                    .subtitu {
                        font-size: 8px;
                        line-height: 15px;
                    }
                }

                .conside {
                    font-size: 9px!important;
                    margin-top: 2px;
                }
            }
        }
    }

    .una-prod-box {
        .cambio {
            font-size: 12px;
            color: #2197ae;
            font-weight: 500;
            cursor: pointer;
            float: left;
            margin-top: 200px;
            height: 18px;
            margin-left: 48px;

            @media screen and (max-width: 600px) {
                float: right;
                margin-top: 104px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.eventos_productos {
    display: inline-block;
    height: max-content;
    width: 100%;
    margin-bottom: 24px;
    border-bottom: 1px solid #d5d9df;
    padding-bottom: 20px;
    margin-top: 20px;

    .paso {
        font-size: 12px;
        font-weight: bold;
        color: #abafb0;
        margin: 0 0 4px 0;
    }

    .titulo {
        font-size: 17px;
        color: #595959;
        margin: 0 0 20px 0;
    }

    .prod-card-canje {
        width: 240px;
        height: 100px;
        border-radius: 8px;
        border: solid 1px rgba(33, 33, 33, 0.03);
        box-shadow: 0 0 4px 0 #d2d9e1;
        background-color: #ffffff;
        float: left;
        margin: 0 16px 16px 0;
        position: relative;
        padding: 20px 0px;
        cursor: pointer;

        .texto {
            text-align: center;
            padding-left: 5%;
            margin-top: 8px;

            .titulo {
                color: #da272c !important;
                line-height: 19px;              
                font-size: 16px;
                margin-bottom: 0px;
            }

            .subtitu {
                font-size: 12px;
                color: #C1C1C1;
                margin-bottom: 0px;
                line-height: 19px;  
            }
        }

        @media screen and (max-width: 600px) {
            width: 156px;
            height: 118px;
            padding: 32px 8px;
            margin: 0 6px 16px 0;

            .texto {
                padding-left: 0px;
            }
        }
    }

    .una-prod-box {
        .cambio {
            font-size: 12px;
            color: #2197ae;
            font-weight: 500;
            cursor: pointer;
            float: left;
            margin-top: 82px;
            height: 18px;
            margin-left: 48px;

            @media screen and (max-width: 600px) {
                float: right;
                margin-top: 98px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.modal-generico {

    .modal-white {
        max-width: 288px;
        min-height: 100px;
        padding: 24px 16px;

        .titulo-cerrar {
            margin-bottom: 20px;

            .titulo {
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0.46px;
                color: #212121;
            }
        }

        .subti {
            font-size: 12px;
            color: #212121;
            margin-bottom: 16px;
        }

        .texto {
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #212121;
            text-align: left;
        }

        .verde-blanco {
            width: 180px;
            height: 40px;
            padding: 6px 30px;
            border-radius: 20px;
            background-color: #2197ae;
            color: #ffffff;
            border: none;
        }
    }
}

.loading {
    margin-top: 20px;

    .loader {
        border: 7px solid #f3f3f3;
        border-radius: 50%;
        border-top: 7px solid #abafb0;
        border-bottom: 7px solid #abafb0;
        width: 30px;
        height: 30px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        display: inline-block;
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.color_1 { border: solid 2px #F5A623 !important; }
.color_10 { border: solid 2px #DA1B68 !important; }
.color_2 { border: solid 2px #1D87FA !important; }
.color_5 { border: solid 2px #B6282D !important; }
.color_13 { border: solid 2px #da272c !important; }
.color_80 { border: solid 2px #63B847 !important; }
.color_15 { border: solid 2px #B6282D !important; }
.color_11 { border: solid 2px #F5A623 !important; }
.color_9 { border: solid 2px #595959 !important; }
.color_22 { border: solid 2px #595959 !important; }
.color_24 { border: solid 2px #F5A623 !important; }
.color_23 { border: solid 2px #1d87fa !important; }
.color_100 { border: solid 2px #F5A623 !important; }
.color_25 { border: solid 2px #EE2124 !important; }