
.cerrarNuevoPopUp {
  background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L18 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M18 6L6 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
    no-repeat;
  width: 14px;
  height: 14px;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    background: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L18 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M18 6L6 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
      no-repeat;
    width: 13px;
    height: 13px;
    cursor: pointer;
  }
}

button.closeCallNuevo {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L18 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M18 6L6 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
    no-repeat;
  width: 24px;
  width: 24px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  height: 24px;

  @media screen and (max-width: 600px) {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L18 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M18 6L6 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
      no-repeat;
    width: 24px;
    width: 24px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 24px;
  }
}

.image-publicidad-src {
  min-width: 320px;
  width: 100%;
  margin-bottom: 12px;
}

.cerrar {
  display: none;
}

.boton-verde {
  width: 100%;
  padding: 0 66px;
  height: 40px;
  border-radius: 20px;
  background-color: #2197ae;
  color: #ffffff;
  border: none;

  &:disabled {
    background-color: #e3e3e3;
    color: rgba(0, 0, 0, 0.26);
    cursor: default;
  }
}
