.subcategorias-box {
    margin-top: 32px;
    max-width: 776px;
    padding-bottom: 24px;
    border-bottom: solid 1px #d5d9df;

    .paso {
        font-size: 12px;
        font-weight: bold;
        color: #abafb0;
        margin: 0 0 4px 0;
    }

    .titulo {
        font-size: 17px;
        color: #595959 !important;
        margin: 0 0 20px 0;
    }

    .sub {
        display: flex;

        .sub-card {
            width: 182px;
            height: 148px;
            margin: 0 12px 8px 0;
            float: left;
            border-radius: 8px;
            box-shadow: 0 0 4px 0 #d2d9e1;
            border: solid 1px rgba(33, 33, 33, 0.03);
            background-color: #ffffff;
            text-align: center;
            padding: 0 28px;
            cursor: pointer;

            p {
                font-size: 14px;
                letter-spacing: 0.2px;
                color: #595959;
                display: inline-block;
                top: calc(50% - 21px);
                position: relative;
            }

            @media screen and (max-width: 600px) {
                width: 156px;
                height: 84px;
                padding: 0px 12px;

                p {
                    font-size: 12px;
                }
            }
        }

        .cambio {
            font-size: 12px;
            color: #2197ae;
            font-weight: 500;
            cursor: pointer;
            float: left;
            margin-top: 48px;
            height: 18px;
            margin-left: 48px;

            @media screen and (max-width: 600px) {
                float: right;
            }
        }
    }
}

.loading-box {
    width: 100%;
    height: 30px;
    margin: 24px 0px;
    max-width: 776px;
    text-align: center;

    .loading {
        width: 30px;
        height: 30px;
        display: inline-block;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%232197AE' d='M10 19a9 9 0 1 1 0-18 9 9 0 0 1 0 18zm0-2.7a6.3 6.3 0 1 0 0-12.6 6.3 6.3 0 0 0 0 12.6z' opacity='.32'/%3E%3Cpath fill='%23FFF' d='M10 19a9 9 0 1 1 0-18 9 9 0 0 1 0 18zm0-2.7a6.3 6.3 0 1 0 0-12.6 6.3 6.3 0 0 0 0 12.6z' opacity='.316'/%3E%3Cpath fill='%232197AE' d='M19 10h-2.7a6.3 6.3 0 0 0-3.6-5.694V1.412A9.004 9.004 0 0 1 19 10z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat;
        background-size: 30px;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
      
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

.productos-box {
    margin-top: 32px;
    max-width: 776px;
    padding-bottom: 24px;
    border-bottom: solid 1px #d5d9df;
}

.metodo-pago-box {
    max-width: 776px;
}

.color_1 { border: solid 2px #F5A623 !important; }
.color_10 { border: solid 2px #DA1B68 !important; }
.color_2 { border: solid 2px #1D87FA !important; }
.color_5 { border: solid 2px #B6282D !important; }
.color_13 { border: solid 2px #da272c !important; }
.color_80 { border: solid 2px #63B847 !important; }
.color_15 { border: solid 2px #B6282D !important; }
.color_11 { border: solid 2px #F5A623 !important; }
.color_9 { border: solid 2px #595959 !important; }
.color_22 { border: solid 2px #595959 !important; }
.color_24 { border: solid 2px #F5A623 !important; }
.color_23 { border: solid 2px #1d87fa !important; }
.color_100 { border: solid 2px #F5A623 !important; }
.color_25 { border: solid 2px #EE2124 !important; }